<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <% practices.forEach(function (practice) { %>
            <br>
            <%= practice.name %>
            <%= practice.phone_number %>
            <%= practice.email %>
            <%= practice.phone_number %>
           
            <a href ="/admin/deleteOrganization/<%= practice._id %>">Delete</a>

            <% }) %>


            
</body>

</html>