<div id="org_id"></div>



<% practices.forEach(function (orgainization) { %>
<br>

<%= orgainization.f_name %>
<%= orgainization.l_name %>
<%= orgainization.job_title %>
<%= orgainization.phone_number %>
<%= orgainization.email %>
<%= orgainization.skills %>
<%= orgainization.cv %>

<a href ="/organizations/deleteRequest/<%= orgainization._id %>">Delete</a>
<% }) %>

<% include _script_links %>

<script>
    var token = localStorage.getItem("token");
    var id;
    if (!!token) {
        $.ajax({
            type: "GET",
            url: `/users/${token}`,
            dataType: "json",
            success: function (data) {

                $("#org_id").text(data.student_id);
                $("#nic").text(data.nic);
                $("#phone_number").text(data.phone_number);
                $("#email").text(data.email);
                // $("#photo").src(data.photo);
                // ("#cv").text(data.cv);
                $("#technical_skills").text(data.technical_skills);

                console.log(data);
                id = data._id;
            },
            error: function () {
                console.log("error from the method");
            }
        });

    } else {
        window.location.replace("/");
    }

  


</script>
</body>