<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>organization Id:</h1>
    <h1 id="org_id"></h1>

  
    <% practices.forEach(function (user) { %>
    <br>
    <% if(user.status=="Availabal"){ %>

    <img src="<%= user.thumbnail %>" />
    <%= user.f_name %>
    <%= user.l_name %>
    <%= user.id %>
    <a href="<%= user.cv %>">cv link</a>
    <a href="/organizations/profile/<%= user.id %>">view profile</a>
    <!-- note you defined the field as Name not name -->
    <% } %>
    <% }) %>

</body>
<% include _script_links %>

<script>

    var token = localStorage.getItem("token");
    if (!!token) {
        $.ajax({
            type: "GET",
            url: `/users/${token}`,
            dataType: "json",
            success: function (data) {

                $("#org_id").text(data.student_id);
                $("#nic").text(data.nic);
                $("#phone_number").text(data.phone_number);
                $("#email").text(data.email);
                // $("#photo").src(data.photo);
                // ("#cv").text(data.cv);
                $("#technical_skills").text(data.technical_skills);

                console.log(data);

            },
            error: function () {
                console.log("error from the method");
            }
        });

    } else {
        window.location.replace("/");
    }

    $("#logout").click(function () {
        localStorage.clear("token");
        window.location.replace("login");
    });

</script>

</html>